#########################
# Delphi #
#########################
*.dcu
*.~*
#*.dof
*.cfg
*.res
*.ddp

#########################
# Lazarus         #
#########################
*.ppu

#########################
# else         #
#########################
*.o
*.pes
*.csv